   html,
   body {
       margin: 0;
       padding: 0;
   }
   
   #wrap {
       display: block;
   }
   
   .left_nav {
       position: fixed;
       top: 0;
       left: 0;
       display: inline-block;
       width: 120px;
       background-color: #2C3E50;
       height: 210px;
   }
   
   .nav_ul {
       margin: 0;
       padding: 0px;
       list-style: none;
       text-align: center;
   }
   
   .nav_li {
       cursor: pointer;
   }
   
   #logout > li:hover,
   #nav_menu > li:hover {
       background-color: #182D42;
   }
   
   #user_Id {
       color: #FFFFFF;
   }
   
   .nav_text {
       text-decoration: none;
       color: #FFFFFF;
       display: block;
       padding: 14px 0;
   }
   
   #userInfo {
       display: block;
       height: 120px;
   }
   
   #user_Img {
       width: 60px;
       height: 60px;
       border-radius: 60px;
   }
   
   #user_Img_Cover {
       display: block;
       width: 60px;
       margin: 30px auto 0 auto;
   }
   
   #logout {
       position: absolute;
       bottom: 10px;
       width: 100%;
   }
   
   #main_container {
       /*    position: absolute;*/
       display: block;
       margin-left: 120px;
       /*
    top: 0;
    left: 120px;
*/
   }
   
   body {
       /*    max-width: 1200px;*/
       /*    width: 1200px;*/
       /*
    margin: auto;
    padding: 0;
*/
   }
   
   #container {
       /* 옆에 들어올 값만큼 띄워주기 */
/*       width: 1200px;*/
       width: 1500px;
       /*    width: 95%;*/
       height: 800px;
/*       float: right;*/
       margin: auto;
       margin-top: 60px;
       background-color: #000000;
   }
   /*  왼편 ===============================================  */
   
   #left-side {
       width: 40%;
       height: 800px;
       float: left;
       background-color: #505050;
   }
   /*  방 관련 ==============================================  */   
   
   .top {
       /* 브라우저에서 띄울만큼 설정 */
       /*        margin: 0;*/
       width: 100%;
       height: 20%;
       background-color: #808080;
   }
   
   #icon {
       width: 30%;
       height: 100%;
       float: left;
       position: relative;
       top: 50%;
       transform: translate(0, -50%);
       background-color: #a0a0f0;
   }
   
   #content {
       width: 40%;
       height: 100%;
       float: left;
       background-color: #f0a0a0;
   }
   
   #content #title {
       width: 100%;
       height: 50%;
       background-color: firebrick;
   }
   
   #content #member {
       width: 100%;
       height: 50%;
       background-color: indianred;
   }
   
   #content #member #master {
       width: 50%;
       height: 100%;
       float: left;
       background-color: orange;
   }
   
   #content #member #otherMembers {
       width: 50%;
       height: 100%;
       float: left;
       background-color: orangered;
   }
   
   #config {
       width: 30%;
       height: 100%;
       float: left;
       background-color: #a0f0a0;
   }
   /*  나머지 밑에 것들 ======================================  */
   
   .schedule {
       width: 100%;
       height: 30%;
       background-color: #665522;
   }
   
   .vote {
       width: 100%;
       height: 30%;
       background-color: #a034a0;
   }
   
   .event {
       width: 100%;
       height: 20%;
       background-color: #a0f0a0;
   }
   
   .title {
       width: 100%;
       height: 30%;
       background-color: darkgray;
   }
   
   .content {
       width: 100%;
       height: 30%;
       background-color: gray;
   }
   
   .left {
       width: 30%;
       height: 100%;
       float: left;
       background-color: white;
   }
   
   .middle {
       width: 40%;
       height: 100%;
       float: left;
       background-color: antiquewhite;
   }
   
   .right {
       width: 30%;
       height: 100%;
       float: left;
       background-color: gray;
   }
   /*  오른편 ===============================================  */
   
   #right-side {
       width: 60%;
       height: 800px;
       float: right;
       background-color: white;
   }
   
   .cal {
       height: 852px;
   }
   
   #calendar {
       padding-left: 100px;
       /*        width: 100%;*/
       /*        height: 100%;*/
       color: black;
       border-color: wheat;
   }
   
   td {
       width: 100px;
       height: 100px;
   }
   
   #container {}
   
   .saturday {
       color: blue;
   }
   
   .sunday {
       color: red;
   }
   
   #yearSelect,
   #monthSelect {
       /*
    background-image: url(../images/arrow.png);
    background-repeat: no-repeat;
*/
       background-position: 300px;
       width: 100px;
       padding: 12px;
       margin-top: 8px;
       font-family: Cursive;
       line-height: 1;
       border-radius: 5px;
       background-color: #A2AB58;
       color: #ff0;
       font-size: 20px;
       -webkit-appearance: none;
       box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.6);
       outline: none;
       text-align: center;
   }
   
   #container {}