   html,body{
        margin: 0;
        padding: 0;
    }

#wrap{
    display: block;
}
    .left_nav{
        position: fixed;
        top: 0;
        left: 0;
        display: inline-block;
        width: 120px;
        background-color: #2C3E50;
        height: 210px;
    }
    .nav_ul{
        margin: 0;
        padding: 0px;
        list-style: none;
        text-align: center;
    }
    .nav_li{
        cursor: pointer;
    }
    #logout > li:hover,#nav_menu > li:hover{
        background-color: #182D42;
    }
    #user_Id{
        color: #FFFFFF;
    }
    .nav_text{
        text-decoration: none;
        color: #FFFFFF;
        display: block;
        padding: 14px 0;
    }
    #userInfo{
        display: block;
        height: 120px;
    }
    #user_Img{
        width: 60px;
        height: 60px;
        border-radius: 60px;
    }
    #user_Img_Cover{
        display: block;
        width: 60px;
        margin:30px auto 0 auto;
    }
    #logout{
        position: absolute;
        bottom: 10px;
        width: 100%;
    }
#main_container{
/*    position: absolute;*/
    display: block;
    margin-left: 120px;
/*
    top: 0;
    left: 120px;
*/
}