   html,
   body {
       margin: 0;
       padding: 0;
   }
   
   #wrap {
       display: block;
   }
   
   .left_nav {
       position: fixed;
       top: 0;
       left: 0;
       display: inline-block;
       width: 120px;
       background-color: #2C3E50;
       height: 210px;
   }
   
   .nav_ul {
       margin: 0;
       padding: 0px;
       list-style: none;
       text-align: center;
   }
   
   .nav_li {
       cursor: pointer;
   }
   
   #logout > li:hover,
   #nav_menu > li:hover {
       background-color: #182D42;
   }
   
   #user_Id {
       color: #FFFFFF;
   }
   
   .nav_text {
       text-decoration: none;
       color: #FFFFFF;
       display: block;
       padding: 14px 0;
   }
   
   #userInfo {
       display: block;
       height: 120px;
   }
   
   #user_Img {
       width: 60px;
       height: 60px;
       border-radius: 60px;
   }
   
   #user_Img_Cover {
       display: block;
       width: 60px;
       margin: 30px auto 0 auto;
   }
   
   #logout {
       position: absolute;
       bottom: 10px;
       width: 100%;
   }
   
   #main_container {
       /*    position: absolute;*/
       display: block;
       margin-left: 120px;
       /*
    top: 0;
    left: 120px;
*/
   }
   
   body {
       /*    max-width: 1200px;*/
       /*    width: 1200px;*/
       /*
    margin: auto;
    padding: 0;
*/
   }
   
   #container {
       /* ���� ���� ����ŭ ����ֱ� */
/*       width: 1200px;*/
       width: 1500px;
       /*    width: 95%;*/
       height: 800px;
/*       float: right;*/
       margin: auto;
       margin-top: 60px;
       background-color: #000000;
   }
   /*  ���� ===============================================  */
   
   #left-side {
       width: 40%;
       height: 800px;
       float: left;
       background-color: #505050;
   }
   /*  �� ���� ==============================================  */   
   
   .top {
       /* ���������� ��︸ŭ ���� */
       /*        margin: 0;*/
       width: 100%;
       height: 20%;
       background-color: #808080;
   }
   
   #icon {
       width: 30%;
       height: 100%;
       float: left;
       position: relative;
       top: 50%;
       transform: translate(0, -50%);
/*       background-color: #a0a0f0;*/
       background-color: white;
   }

    #icon>img
    {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
   
   #content {
       width: 40%;
       height: 100%;
       float: left;
       background-color: #f0a0a0;
   }
   
   #content #title {
       width: 100%;
       height: 50%;
/*       background-color: firebrick;*/
       background-color: white;
       font-size: 25px;
       font-weight: bold;
       line-height: 80px;
   }
   
   #content #member {
       width: 100%;
       height: 50%;
       background-color: indianred;
   }
   
   #content #member #master {
       width: 50%;
       height: 100%;
       float: left;
       background-color: orange;
   }
   
   #content #member #otherMembers {
       width: 50%;
       height: 100%;
       float: left;
       background-color: orangered;
   }
   
   #config {
       width: 30%;
       height: 100%;
       float: left;
       background-color: #a0f0a0;
   }
   /*  ������ �ؿ� �͵� ======================================  */
   
   .schedule {
       width: 100%;
       height: 30%;
       background-color: #665522;
       overflow-y: hidden;
   }
   
   .vote {
       width: 100%;
       height: 30%;
       background-color: #a034a0;
       overflow-y: hidden;
   }
   
   .event {
       width: 100%;
       height: 20%;
       background-color: #a0f0a0;
   }
   
   .title {
       width: 100%;
/*       height: 30%;*/
       height: 15%;
/*       background-color: darkgray;*/
       background-color: white;
   }

.contentBox{
    width: 100%;
    height: 90%;
    background-color: white;
}
   
   .content {
       width: 100%;
       height: 32%;
/*       background-color: gray;*/
       background-color: white;
   }
 
   .left {
       width: 30%;
       height: 100%;
       float: left;
       text-align: center;
       /* 높이 조정 */
       line-height: 71px;
       background-color: white;
   }
   
   .middle {
       width: 40%;
       height: 100%;
       float: left;
       background-color: antiquewhite;
   }

    .middle-top
    {
        width: 100%;
        height: 50%;
        line-height: 45px;
    }

    .middle-bottom
    {
        width: 100%;
        height: 50%;
        line-height: 25px;
    }
   
   .right {
       width: 30%;
       height: 100%;
       float: left;
/*       background-color: gray;*/
       background-color: white;
   }

    .right-top
    {
        width: 100%;
        height: 50%;
        line-height: 45px;
    }

    .stateOK
    {
        color: limegreen;
        font-weight: bold;
    }

    .stateNO
    {
        color: crimson;
        font-weight: bold;
    }

    .stateYET
    {
/*        color: #dddd55;*/
        color: dimgray;
        font-weight: bold;
    }

    .right-bottom
    {
        width: 100%;
        height: 50%;
        line-height: 25px;
    }

    .birth
    {
        line-height: 46px;
    }
  

   /*  ������ ===============================================  */
   
   #right-side {
       width: 60%;
       height: 800px;
       float: right;
       background-color: white;
   }
   
   .cal {
       height: 852px;
   }
   
   #calendar {
       padding-left: 100px;
       /*        width: 100%;*/
       /*        height: 100%;*/
       color: black;
       border-color: wheat;
   }
   
   td {
       width: 100px;
       height: 100px;
   }
   
   #container {}
   
   .saturday {
       color: blue;
   }
   
   
   .sunday {
       color: red;
   }
   
   #yearSelect,
   #monthSelect {
       /*
    background-image: url(../images/arrow.png);
    background-repeat: no-repeat;
*/
       background-position: 300px;
       width: 100px;
       padding: 12px;
       margin-top: 8px;
       font-family: Cursive;
       line-height: 1;
       border-radius: 5px;
       background-color: #A2AB58;
       color: #ff0;
       font-size: 20px;
       -webkit-appearance: none;
       box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.6);
       outline: none;
       text-align: center;
   }

    .stick
    {
        display: inline-block;
        background-color: #83C5F1;
        height: 5px;
        width: 200px;
        margin-top: 20px;
    }
   
   #container {}
   
/*-------------------------------------------------*/
    .voteList
    {
        display: inline-block;
        border: 1px solid black;
        background-size: 16px 16px;
        background-size: cover;
        background-repeat: no-repeat;
        background-size: 16px 16px;
        border-radius: 6px;
        padding: 4px;
        background-position: right 50%;
        height: 16px;
/*        box-shadow: 5px 5px 5px;*/
    }

    .commentBox
    {
        border: 1px solid gray;
    }

    .commentWriter
    {
        display: inline-block;
        font-weight: bold;
    }

    .commentMemo
    {
        display: inline-block;
    }

/*-----------------------------------------------------*/

    .stateBar
    {
        background-color: dimgray;
        height: 100%;
        border-radius: 25px;
        overflow: hidden;
    }

    .barOK
    {
        display: inline-block;
        background-color: limegreen;
        height: 100%;
    }

    .barNO
    {
        display: inline-block;
        background-color: crimson;
        height: 100%;
    }