    body{   
        background-image: url(../img/background/back1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center top;
        font-family: sans-serif;    

    }

html,body{
            margin: 0;
            padding: 0;
			font-family: sans-serif;    
        }
        div{
            position: relative;
            display: inline-block;
/*            display: block;*/
        }
        #newWrap{
            display: block;
            background-color: #fff;
            width: 1350px;
            height: 800px;
            box-shadow: 10px 10px 30px gray;
            margin: auto;
        }
        .left_nav{
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #DCDAE4 ;
            width: 100px;
            overflow: hidden;
            height: 800px;
            z-index: 100;
        }
        .nav_ul{
            padding: 0;
            margin: auto;
        }
        li{
            position: relative;
        }
        .nav_li{
            display: block;
            list-style: none;
            width: 50px;
            padding: 0 27.5px;
            margin: 10px 0;
            text-align: center;
        }
        #nav_menu{
            margin-top: 50px;
        }
        #nav_menu li{
            padding-top: 10px;
        }
        .navMenuImg{
            width: 35px;
            height: 35px;
        }
        .nav_text{
            margin: auto;
        }
        #user_Img_Cover{
            margin-top: 50px;
        }
        #user_Id, #user_Img_Cover{
            cursor: pointer;
        }
        #user_Img_Cover li{
            padding: 0;
            width: 100%;
        }
        #user_Img{
            width: 60px;
            height: 60px;
            border-radius: 60px;
        }
        #navHere{
            background-color:pink;
            display: inline-block;
            width: 0;
            height: 55px;
            position: absolute;
            top: 0;
            left: 0;
        }
        #userInfo{
            display: block;
        }
        #main_container{
            display: block;
        }
        #logout{
            cursor: pointer;
            position: absolute;
            bottom: 10px;
            left: 0;
        }
            #newContents{
        position: absolute;
        top: 0;
        left: 20px;
        background-color: red;
        width: 20px;
        height: 20px;
        text-align: center;
        font-weight: bold;
        line-height: 20px;
        font-size: 11px;
        color: yellow;
        border-radius: 20px;
        display: none;
    }
         #blindCover {
        position: fixed;
        top: 0;
        left: 0;
        background-color: black;
        opacity: 0.7;
        display: none;
        z-index: 300;
						}
#blindCoverWhite {
    position: fixed;
    top: 0;
    left: 0;
     
    opacity: 0.7;
    z-index: 3000;
    display: none;
}
   
        
   body {
       /*    max-width: 1200px;*/
       /*    width: 1200px;*/
       /*
    margin: auto;
    padding: 0;
*/
   }
   
   #container {
       /* ���� ���� ����ŭ ����ֱ� */
/*       width: 1200px;*/
       width: 1250px;
       /*    width: 95%;*/
       height: 800px;
/*       float: right;*/
       margin-left: 100px;
/*       background-color: #000000;*/
   }
   /*  ���� ===============================================  */
   
   #left-side {
/*       width: 40%;*/
       width: 500px;
       height: 800px;
       margin-left: 20px;
/*       float: left;*/
/*       background-color: #505050;*/
   }
   /*  �� ���� ==============================================  */   
   
   .top {
       /* ���������� ��︸ŭ ���� */
       /*        margin: 0;*/
       width: 100%;
       height: 20%;
       height: 15%;
       margin-top: 6px;
/*       background-color: #808080;*/
   }
   
   #icon {
       width: 30%;
       height: 100%;
       float: left;
       position: relative;
       top: 50%;
       transform: translate(0, -50%);
/*       background-color: #a0a0f0;*/
        
   }

    #icon>img
    {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 120px;
        height: 120px;
    }
   
   #content {
       width: 40%;
       height: 100%;
       float: left;
/*       background-color: #f0a0a0;*/
        
   }
   
   #content #title {
	   position: relative;
       width: 100%;
       height: 50%;
/*       background-color: firebrick;*/
        
       font-size: 25px;
       font-weight: bold;
/*       line-height: 80px;*/
   }

/*
#content #title #groupTitle {
	position: absolute;
	bottom: 5px;
}
*/
   
   #content #member {
       width: 300px;
       height: 50%;
/*       background-color: indianred;*/
	   padding-top: 10px;
	   box-sizing: border-box;
       z-index: 1;
   }
   
   #content #member #master {
/*       width: 50%;*/
       height: 100%;
       float: left;
/*       background-color: orange;*/
   }
   
   #content #member #otherMembers {
/*       width: 50%;*/
       height: 100%;
       float: left;
/*       background-color: orangered;*/
   }
   
   #config {
       width: 30%;
       height: 100%;
       float: left;
/*       background-color: #a0f0a0;*/
        
	   text-align: center;
	   position: relative;
   }
   /*  ������ �ؿ� �͵� ======================================  */
   
   .schedule {
       width: 100%;
       height: 30%;
/*       background-color: #665522;*/
	    
       overflow-y: hidden;
   }
   
   .vote {
       width: 100%;
       height: 30%;
/*       background-color: #a034a0;*/
	    
       overflow-y: hidden;
   }
   
   .event {
       width: 100%;
       height: 180px;
        
/*	   overflow: hidden;*/
   }

   
   .title {
       width: 100%;
/*       height: 30%;*/
       height: 15%;
/*       background-color: darkgray;*/
        
   }

.contentBox{
/*    width: 100%;*/
	width: auto;
    height: 90%;
     
/*	overflow: hidden;*/
}
   
   .content {
       width: 100%;
/*       height: 32%;*/
       height: 100%;
	   font-size: 16px;
/*       background-color: gray;*/
        
   }
 
   .left {
       width: 25%;
       height: 100%;
       float: left;
       text-align: center;
       /* 높이 조정 */
/*       line-height: 71px;*/
        
   }
   
   .middle {
       width: 45%;
       height: 100%;
       float: left;
/*       background-color: antiquewhite;*/
   }

    .middle-top
    {
        width: 100%;
        height: 50%;
        line-height: 45px;
		overflow:hidden;
		text-overflow:ellipsis;
		white-space:nowrap;
    }

    .middle-bottom
    {
        width: 100%;
        height: 50%;
        line-height: 25px;
		padding-left: 5px;
		overflow:hidden;
		text-overflow:ellipsis;
		white-space:nowrap;
    }
   
   .right {
       width: 30%;
       height: 100%;
       float: left;
/*       background-color: gray;*/
        
   }

    .right-top
    {
/*        width: 100%;*/
        width: 80%;
        height: 50%;
        line-height: 45px;
/*		margin: auto;*/
    }

    .stateOK
    {
        color: limegreen;
        font-weight: bold;
    }

    .stateNO
    {
        color: crimson;
        font-weight: bold;
    }

    .stateYET
    {
/*        color: #dddd55;*/
        color: dimgray;
        font-weight: bold;
    }

    .right-bottom
    {
        width: 100%;
        height: 50%;
        line-height: 25px;
    }

    .birth
    {
        line-height: 46px;
    }
  

   /*  ������ ===============================================  */
   
   #right-side {
/*       width: 60%;*/
       width: 730px;
       height: 800px;
       float: right;
        
   }
   
   .cal {
       height: 800px;
   }
   
   #calendar {
       padding-left: 30px;
       /*        width: 100%;*/
       /*        height: 100%;*/
       color: black;
       border-color: wheat;
   }
   
   td {
       width: 95px;
       height: 95px;
   }
      
   .saturday {
       color: blue;
   }
   
   
   .sunday {
       color: red;
   }
   
   #yearSelect,
   #monthSelect {
       /*
    background-image: url(../images/arrow.png);
    background-repeat: no-repeat;
*/
       background-position: 300px;
       width: 100px;
       padding: 12px;
       margin-top: 8px;
       line-height: 1;
       font-size: 20px;
       border: none;
/*       -webkit-appearance: none;*/
       outline: none;
       text-align: center;
   }

    .stick
    {
        display: inline-block;
        background-color: black;
        height: 2px;
        width: 200px;
        margin-top: 20px;
    }
      
/*-------------------------------------------------*/
    .voteList
    {
        display: inline-block;
/*        border: 1px solid black;*/
        background-size: 16px 16px;
        background-size: cover;
        background-repeat: no-repeat;
        background-size: 16px 16px;
        border-radius: 6px;
        padding: 4px;
        background-position: right 50%;
        height: 16px;
        line-height: 16px;
/*        box-shadow: 5px 5px 5px;*/
    }

    .voteList:hover
    {    
        cursor: pointer;
    }

    .commentBox
    {
/*        border: 1px solid gray;*/
        padding: 4px;
        border-radius: 5px;
        margin: 2px;
		height: 32px;
/*		height: 26px;*/
		box-sizing: border-box;
		display: block;
		width: 100%;
    }

    .commentWriter
    {
        display: inline-block;
        font-weight: bold;
    }

    .commentMemo
    {
        display: inline-block;
    }

/*-----------------------------------------------------*/

    .stateBar
    {
        background-color: dimgray;
		display: block;
        height: 10px;
        border-radius: 25px;
        overflow: hidden;
		position: relative;
		top: 50%;
		transform: translate(0,-50%);
		text-align: left;
    }

    .barOK
    {
        display: inline-block;
        background-color: #a0f0a0;
        height: 30px;
    }

    .barNO
    {
        display: inline-block;
        background-color: crimson;
        height: 30px;
    }

.moreInfo:hover
{
    cursor: pointer;
}

.userButton
{
	margin: auto;
}

.userButton:hover
{
    cursor: pointer;
}

.ndjButton:hover
{
    cursor: pointer;
}

.spanMonth
{
    width: 40px;
    text-align: right;
    display: inline-block;
}

input[type=radio]:hover
{
    cursor: pointer;
}

.memberImgBox
{
	display: inline-block;
}

.memberImg
{
	width: 64px;
	height: 64px;
}

.memberBox:hover
{
/*	cursor: pointer;*/
}

.memberInfoBox
{
	display: inline-block;
}

#buttonBox3
{
	text-align: center;
    float: right;
}
#btnCover{
    position: absolute;
    bottom: 0;
    right: -40px;
}

#roomOut
{
	width: 50px;
	height: 50px;
	position: absolute;
/*    top: 50%;*/
/*    left: 50%;*/
	bottom: 10px;
	right: 10px;
	z-index: 10;
/*    transform: translate(-50%, -50%);*/
}

.birthListBox
{
	width: 120px;
	height: 100%;
	display: inline-block;
	overflow: hidden;
/*
	text-overflow:ellipsis;
	white-space:nowrap;
*/
}
.birthMonth
{
/*	width: 100%;*/
	font-size: 24px;
/*
	font-weight: bold;
	color: #83C5F1;
*/
	height: 20%;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

.birthMemBox
{
/*	width: 100%;*/
	width: 110px;
/*	height: 80%;*/
/*	height: 64%;*/
    text-align: center;
	
}

.birthMemImg
{
/*	width: 100%;*/
/*	width: 35%;*/
	width: 64px;
/*	height: 50%;*/
	height: 64px;
}

.birthMemImg img
{
	
	position: relative;
	top: 50%;
	transform: translate(0, -50%);
	width: 64px;
	height: 64px;
    border-radius: 64px;
}

.birthMemInfo
{
/*	width: 156px;*/
	width: auto;
/*	margin-left: 15px;*/
/*	width: 64%;*/
/*	height: 100%;*/
/*
	top: 50%;
	transform: translate(0, -50%);
*/
/*	vertical-align: middle;*/
	overflow: hidden;
    font-size: 14px;
    text-align: center;
}
.birthMemBox:hover
{
	cursor: pointer;
}

.birthMemName
{
	width: 100%;
	height: 49%
}

.birthMemDate
{
	width: 100%;
	height: 49%;
}


/*
.event .contentBox
{
	visibility: hidden;
	display: none;
}*/

.event .swiper-container {
	width: 100%;
	height: 85%;
	margin: 0px auto;
	display: block;
}
/*
.swiper-wrapper {
	display: block;
}
*/
.event .swiper-slide {
/*	width: 220px;*/
	width: auto;
/*	text-align: center;*/
	font-size: 18px;
	 

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.vote .swiper-container {
	width: 100%;
	height: 80%;
/*
	margin-left: auto;
	margin-right: auto;
*/
}
.vote .swiper-slide {
	text-align: center;
	font-size: 18px;
/*	 */
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.schedule .swiper-container {
	width: 100%;
	height: 80%;
/*
	margin-left: auto;
	margin-right: auto;
*/
}
.schedule .swiper-slide {
	text-align: center;
	font-size: 18px;
	 
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.left div
{
	display: block;
/*	height: 30%;*/
	height: 50%;
	font-size: 14px;
}

.onlyOne
{
	position: relative;
	top: 50%;
/*	left: 50%;*/
	transform: translate(0, -50%);
	text-align: center;
	line-height: 32px;
}

.ndjButton
{
	display: block;
	margin: auto;
}

#confirm_button
{
	display: inline-block;
}

.modalComment
{
	width: 100%;
/*	max-height: 280px;*/
/*	height: 50%;*/
/*	height: 48%;*/
/*	height: 40%;*/
    border:1px solid gainsboro
}

#commentList
{
	width: 100%;
/*	height: 70%;*/
	height: 200px;
}

#configMemInfo
{
	width: 30px;
	height: 30px;
    margin-left: 15px;
/*
	position: absolute;
    top: 50%;
    left: 50%;
*/
/*
	top: 0;
	right: 0;
*/
	z-index: 10;
/*    transform: translate(-50%, -50%);*/
}

#configMemInfo:hover
{
	cursor: pointer;
}

#voteListBox
{
	width: 100%;
/*	height: 22px;*/
	height: 65%;
	overflow: hidden;
}

#voteMemo, #voteWriter, #voteMember
{
	height: 22px;
	display: block;
}
#voteWriter{
    text-align: right;
}
#voteMemo{
/*   border-bottom: 1px solid gainsboro;*/
    height: 100px;
    border-top: 1px solid gainsboro;
}
rdoSelect
{
	display: block;
	height: 22px;
}

#modalTitle
{
	overflow: hidden;
	display: block;
	font-size: 24px;
    font-weight: bold;
}
.addschedule{
    margin: 5px;
    cursor: pointer;
}
#modalTitle > .stick
{
	width: 100%;
}

.modalSchduleInfo
{
	width: 100%;
/*	height: 40%;*/
/*	height: 46%;*/
}

#scheduleMemo, #scheduleWriter, #scheduleDate, #scheduleMember
{
	width: 100%;
	font-size: 18px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.modalSchduleInfo .swiper-container {
	width: 100%;
/*	height: 80%;*/
	height: 200px;
/*
	margin-left: auto;
	margin-right: auto;
*/
}

.modalSchduleInfo .swiper-slide {
	text-align: center;
	font-size: 18px;
	 
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

#commentList .swiper-container {
	width: 100%;
/*	height: 80%;*/
	height: 100%;
	display: block;
/*
	margin-left: auto;
	margin-right: auto;
*/
}
#commentList .swiper-slide {
/*	display: block;*/
	text-align: left;
	font-size: 18px;
	 
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

#modalContent
{
	width: 100%;
	height: 90%;
}

.vLBTitle
{
        position: absolute;
    top: 145px;
    left: 20px;
	display: block;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}

#myComment
{
	display: block;
	width: 100%;
}

#myComment > input
{
	width: 89%;
}

#voteButtonBox
{
	text-align: center;
}
.swiper-pagination-bullet-active{
    background: #000000;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
    background-image: none;
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
    background-image: none;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
    position: absolute;
    bottom: 0px;
}

.mSIinfo{
    display: block;
}
.modalSchduleInfo .swiper-container{
    border: 1px solid gainsboro;
    
}
