<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>test</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>
          com.twat.start.Start
      </listener-class>
  </listener>
  
  <!-- sdssd -->
  
	<servlet> 
        <servlet-name>outUser</servlet-name> 
        <servlet-class>com.twat.controller.OutUser</servlet-class> 
    </servlet> 
    <servlet-mapping> 
        <servlet-name>outUser</servlet-name> 
        <url-pattern>/outUser.do</url-pattern> 
    </servlet-mapping> 
    
    <servlet> 
        <servlet-name>PersonalServlet</servlet-name> 
        <servlet-class>com.twat.controller.PersonalServlet</servlet-class> 
    </servlet> 
    <servlet-mapping> 
        <servlet-name>PersonalServlet</servlet-name> 
        <url-pattern>/PersonalServlet.do</url-pattern> 
    </servlet-mapping>
    
    <servlet> 
        <servlet-name>QnaDelete</servlet-name> 
        <servlet-class>com.twat.controller.QnaDeleteServlet</servlet-class> 
    </servlet> 
    <servlet-mapping> 
        <servlet-name>QnaDelete</servlet-name> 
        <url-pattern>/QnaDelete.do</url-pattern> 
    </servlet-mapping>
    
    <servlet> 
        <servlet-name>QnaDetail</servlet-name> 
        <servlet-class>com.twat.controller.QnaDetailServlet</servlet-class> 
    </servlet> 
    <servlet-mapping> 
        <servlet-name>QnaDetail</servlet-name> 
        <url-pattern>/QnaDetail.do</url-pattern> 
    </servlet-mapping>
    
    <servlet> 
        <servlet-name>QnaUpdate</servlet-name> 
        <servlet-class>com.twat.controller.QnaUpdateServlet</servlet-class> 
    </servlet> 
    <servlet-mapping> 
        <servlet-name>QnaUpdate</servlet-name> 
        <url-pattern>/QnaUpdate.do</url-pattern> 
    </servlet-mapping>
    
    <servlet> 
        <servlet-name>QnaWrite</servlet-name> 
        <servlet-class>com.twat.controller.QnaWriteServlet</servlet-class> 
    </servlet> 
    <servlet-mapping> 
        <servlet-name>QnaWrite</servlet-name> 
        <url-pattern>/QnaWrite.do</url-pattern> 
    </servlet-mapping>
    
    <servlet> 
        <servlet-name>RefuseRequest</servlet-name> 
        <servlet-class>com.twat.controller.RefuseRequest</servlet-class> 
    </servlet> 
    <servlet-mapping> 
        <servlet-name>RefuseRequest</servlet-name> 
        <url-pattern>/RefuseRequest.do</url-pattern> 
    </servlet-mapping>
    
    <servlet> 
        <servlet-name>RequestFriend</servlet-name> 
        <servlet-class>com.twat.controller.RequestFriend</servlet-class> 
    </servlet> 
    <servlet-mapping> 
        <servlet-name>RequestFriend</servlet-name> 
        <url-pattern>/RequestFriend.do</url-pattern> 
    </servlet-mapping>
    
    <servlet> 
        <servlet-name>RequestingFriend</servlet-name> 
        <servlet-class>com.twat.controller.RequestingFriend</servlet-class> 
    </servlet> 
    <servlet-mapping> 
        <servlet-name>RequestingFriend</servlet-name> 
        <url-pattern>/RequestingFriend.do</url-pattern> 
    </servlet-mapping>
    
    <servlet> 
        <servlet-name>ResponsingFriends</servlet-name> 
        <servlet-class>com.twat.controller.ResponsingFriends</servlet-class> 
    </servlet> 
    <servlet-mapping> 
        <servlet-name>ResponsingFriends</servlet-name> 
        <url-pattern>/ResponsingFriends.do</url-pattern> 
    </servlet-mapping>
    
    <servlet> 
        <servlet-name>ScheduleAdd</servlet-name> 
        <servlet-class>com.twat.controller.ScheduleAdd</servlet-class> 
    </servlet> 
    <servlet-mapping> 
        <servlet-name>ScheduleAdd</servlet-name> 
        <url-pattern>/ScheduleAdd.do</url-pattern> 
    </servlet-mapping>
    
    <servlet> 
        <servlet-name>scheduleSelected</servlet-name> 
        <servlet-class>com.twat.controller.ScheduleSelected</servlet-class> 
    </servlet> 
    <servlet-mapping> 
        <servlet-name>scheduleSelected</servlet-name> 
        <url-pattern>/scheduleSelected.do</url-pattern> 
    </servlet-mapping>
    
    <servlet> 
        <servlet-name>searchID</servlet-name> 
        <servlet-class>com.twat.controller.searchIDServlet</servlet-class> 
    </servlet> 
    <servlet-mapping> 
        <servlet-name>searchID</servlet-name> 
        <url-pattern>/searchID.do</url-pattern> 
    </servlet-mapping>
    
    <servlet> 
        <servlet-name>SearchPW</servlet-name> 
        <servlet-class>com.twat.controller.SearchPWServlet</servlet-class> 
    </servlet> 
    <servlet-mapping> 
        <servlet-name>SearchPW</servlet-name> 
        <url-pattern>/SearchPW.do</url-pattern> 
    </servlet-mapping>
    
    <servlet> 
        <servlet-name>SearchQna</servlet-name> 
        <servlet-class>com.twat.controller.SearchQnaServlet</servlet-class> 
    </servlet> 
    <servlet-mapping> 
        <servlet-name>SearchQna</servlet-name> 
        <url-pattern>/SearchQna.do</url-pattern> 
    </servlet-mapping>
    
    <servlet> 
        <servlet-name>SessionCheck</servlet-name> 
        <servlet-class>com.twat.controller.SessionCheck</servlet-class> 
    </servlet> 
    <servlet-mapping> 
        <servlet-name>SessionCheck</servlet-name> 
        <url-pattern>/SessionCheck.do</url-pattern> 
    </servlet-mapping>
    
    <servlet> 
        <servlet-name>setMyGroupContentsView</servlet-name> 
        <servlet-class>com.twat.controller.SetMyGroupContentsView</servlet-class> 
    </servlet> 
    <servlet-mapping> 
        <servlet-name>setMyGroupContentsView</servlet-name> 
        <url-pattern>/setMyGroupContentsView.do</url-pattern> 
    </servlet-mapping>
    
    <servlet> 
        <servlet-name>setRoomOut</servlet-name> 
        <servlet-class>com.twat.controller.SetRoomOut</servlet-class> 
    </servlet> 
    <servlet-mapping> 
        <servlet-name>setRoomOut</servlet-name> 
        <url-pattern>/setRoomOut.do</url-pattern> 
    </servlet-mapping>
    
    <servlet> 
        <servlet-name>signUp</servlet-name> 
        <servlet-class>com.twat.controller.signUpServlet</servlet-class> 
    </servlet> 
    <servlet-mapping> 
        <servlet-name>signUp</servlet-name> 
        <url-pattern>/signUp.do</url-pattern> 
    </servlet-mapping>
    
    <!-- sdssd -->
    <!-- goblin start-->
  	<servlet> 
        <servlet-name>myGroupSchedule</servlet-name> 
        <servlet-class>com.twat.controller.MyGroupScheduleServlet</servlet-class> 
    </servlet> 
    <servlet-mapping> 
        <servlet-name>myGroupSchedule</servlet-name> 
        <url-pattern>/myGroupSchedule.do</url-pattern> 
    </servlet-mapping> 
    
    <servlet> 
        <servlet-name>scheDelete</servlet-name> 
        <servlet-class>com.twat.controller.MyScheDeleteServlet</servlet-class> 
    </servlet> 
    <servlet-mapping> 
        <servlet-name>scheDelete</servlet-name> 
        <url-pattern>/scheDelete.do</url-pattern> 
    </servlet-mapping> 
    
    <servlet> 
        <servlet-name>mySchedule</servlet-name> 
        <servlet-class>com.twat.controller.MyScheduleServlet</servlet-class> 
    </servlet> 
    <servlet-mapping> 
        <servlet-name>mySchedule</servlet-name> 
        <url-pattern>/mySchedule.do</url-pattern> 
    </servlet-mapping> 
     <!-- goblin stop-->
    
    <!-- jjonggal -->
    
     <servlet> 
        <servlet-name>AdminGetCalenarList</servlet-name> 
        <servlet-class>com.admin.controller.AdminGetCalenarList</servlet-class> 
    </servlet> 
    <servlet-mapping> 
        <servlet-name>AdminGetCalenarList</servlet-name> 
        <url-pattern>/adminGetCalenarList.do</url-pattern> 
    </servlet-mapping>


     <servlet> 
        <servlet-name>AdminGetGroupList</servlet-name> 
        <servlet-class>com.admin.controller.AdminGetGroupList</servlet-class> 
    </servlet> 
    <servlet-mapping> 
        <servlet-name>AdminGetGroupList</servlet-name> 
        <url-pattern>/adminGetGroupList.do</url-pattern> 
    </servlet-mapping>

     <servlet> 
        <servlet-name>AdminGetMemberListServlet</servlet-name> 
        <servlet-class>com.admin.controller.AdminGetMemberList</servlet-class> 
    </servlet> 
    <servlet-mapping> 
        <servlet-name>AdminGetMemberListServlet</servlet-name> 
        <url-pattern>/getmemberInfo.do</url-pattern> 
    </servlet-mapping>

     <servlet> 
        <servlet-name>AdmingGetQnaList</servlet-name> 
        <servlet-class>com.admin.controller.AdmingGetQnaList</servlet-class> 
    </servlet> 
    <servlet-mapping> 
        <servlet-name>AdmingGetQnaList</servlet-name> 
        <url-pattern>/admingGetQnaList.do</url-pattern> 
    </servlet-mapping>

     <servlet> 
        <servlet-name>AdminGroupOut</servlet-name> 
        <servlet-class>com.admin.controller.AdminGroupOut</servlet-class> 
    </servlet> 
    <servlet-mapping> 
        <servlet-name>AdminGroupOut</servlet-name> 
        <url-pattern>/adminGroupOut.do</url-pattern> 
    </servlet-mapping>

     <servlet> 
        <servlet-name>AdminloginServlet</servlet-name> 
        <servlet-class>com.admin.controller.Adminlogin</servlet-class> 
    </servlet> 
    <servlet-mapping> 
        <servlet-name>AdminloginServlet</servlet-name> 
        <url-pattern>/adminlogin.do</url-pattern> 
    </servlet-mapping>

     <servlet> 
        <servlet-name>AdminMemberOut</servlet-name> 
        <servlet-class>com.admin.controller.AdminMemberOut</servlet-class> 
    </servlet> 
    <servlet-mapping> 
        <servlet-name>AdminMemberOut</servlet-name> 
        <url-pattern>/memberout.do</url-pattern> 
    </servlet-mapping>

     <servlet> 
        <servlet-name>AdminSetQnaReply</servlet-name> 
        <servlet-class>com.admin.controller.AdminSetQnaReply</servlet-class> 
    </servlet> 
    <servlet-mapping> 
        <servlet-name>AdminSetQnaReply</servlet-name> 
        <url-pattern>/adminSetQnaReply.do</url-pattern> 
    </servlet-mapping>

     <servlet> 
        <servlet-name>AdminSettingServlet</servlet-name> 
        <servlet-class>com.admin.controller.AdminSetting</servlet-class> 
    </servlet> 
    <servlet-mapping> 
        <servlet-name>AdminSettingServlet</servlet-name> 
        <url-pattern>/adminSetting.do</url-pattern> 
    </servlet-mapping>

     <servlet> 
        <servlet-name>AdminSetVisitToday</servlet-name> 
        <servlet-class>com.admin.controller.AdminSetVisitToday</servlet-class> 
    </servlet> 
    <servlet-mapping> 
        <servlet-name>AdminSetVisitToday</servlet-name> 
        <url-pattern>/AdminSetVisitToday.do</url-pattern> 
    </servlet-mapping>

     <servlet> 
        <servlet-name>GetTwatDataInfoServlet</servlet-name> 
        <servlet-class>com.admin.controller.GetTwatDataInfo</servlet-class> 
    </servlet> 
    <servlet-mapping> 
        <servlet-name>GetTwatDataInfoServlet</servlet-name> 
        <url-pattern>/getinfo.do</url-pattern> 
    </servlet-mapping>

     <servlet> 
        <servlet-name>GetVisits</servlet-name> 
        <servlet-class>com.admin.controller.GetVisits</servlet-class> 
    </servlet> 
    <servlet-mapping> 
        <servlet-name>GetVisits</servlet-name> 
        <url-pattern>/GetVisits.do</url-pattern> 
    </servlet-mapping>

	<servlet> 
        <servlet-name>NoticeView</servlet-name> 
        <servlet-class>com.admin.controller.NoticeView</servlet-class> 
    </servlet> 
    <servlet-mapping> 
        <servlet-name>NoticeView</servlet-name> 
        <url-pattern>/NoticeView.do</url-pattern> 
    </servlet-mapping>

     <servlet> 
        <servlet-name>WriteNoticeBoard</servlet-name> 
        <servlet-class>com.admin.controller.WriteNoticeBoard</servlet-class> 
    </servlet> 
    <servlet-mapping> 
        <servlet-name>WriteNoticeBoard</servlet-name> 
        <url-pattern>/WriteNoticeBoard.do</url-pattern> 
    </servlet-mapping>
    
    <!-- jjonggal -->
</web-app>